spring:
  jpa:
    open-in-view: true
    database: mysql
    hibernate:
      ddl-auto: update
    show-sql: true
    generate-ddl: false
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        format_sql: true
logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: off
      springframework:
        web: DEBUG

jasypt:
  encryptor:
    bean: jasyptStringEncryptor

server:
  error:
    include-message: ALWAYS
    include-stacktrace: ALWAYS